* {
  box-sizing: border-box;

  --background-color: #ffffff;
  --text-color: #111111;
  --link-color: #002147;
  --link-hover-color: #0b3d7a;
  --border-color: #c9c6c4;
  --box-shadow-color: rgba(0, 0, 0, 0.15);
  --primary-color: #002147;
  --hover-color: #e8e5e3;
  --secondary-color: #f5f3f2;
  --tertiary-color: #8a8785;
  --danger-color: #c00000;

  --scrollbar-track-color: #f5f3f2;
  --scrollbar-border-color: #f5f3f2;
  --scrollbar-thumb-color: #c9c6c4;
  --scrollbar-thumb-hover-color: #8a8785;
}

/* Scroll Behavior Start */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 6px;
  border: 3px solid var(--scrollbar-border-color);
  transition: border 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-color);
  border: 3px solid var(--scrollbar-thumb-color);
}

html {
  scroll-behavior: smooth;
}

/* Scroll Behavior End */

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}